/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/Users/Users.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.user-management {
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
 }
 
 .user-list {
   list-style: none;
   padding: 0;
 }
 
 .user-list li {
   margin-bottom: 10px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 
 input, button {
   margin-top: 10px;
   margin-right: 5px;
   padding: 8px;
   border-radius: 4px;
 }
 
 button {
   cursor: pointer;
   background-color: #007bff;
   color: white;
   border: none;
 }
 
 button:hover {
   opacity: 0.8;
 }
 
