/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/Rota/Rota.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.day {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: auto;
   padding: 10px;
   margin: 10px;
   border: 1px solid #ccc;
   border-radius: 8px;
   background-color: white;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 .name-time {
   margin: 5px;
   padding: 5px;
   background-color: #f8f9fa;
 }
 
 button {
   margin-top: 10px;
 }

 .button-add {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 40px;  /* Set a fixed width */
   height: 40px;  /* Set a fixed height */
   border: 2px solid #007bff;  /* Blue border */
   border-radius: 20px;  /* Rounded borders to create a pill shape */
   background-color: transparent;  /* Transparent background */
   cursor: pointer;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Slight shadow for elevation */
   font-size: 24px;  /* Larger font size for the '+' sign */
   color: #007bff;  /* Blue color for the '+' sign */
 }
 
 .button-add:hover {
   background-color: #e9ecef;  /* Light grey background on hover */
 }

 .modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.6);
 }
 
 .modal-content {
   background: white;
   padding: 20px;
   border-radius: 10px;
   width: 90%;
   max-width: 500px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   text-align: center;
 }
 
 .modal-content h2 {
   color: #333;
 }
 
 .modal-content label {
   display: block;
   margin-top: 20px;
   color: #666;
 }
 
 .modal-content select,
 .modal-content input[type="time"] {
   width: 100%;
   padding: 10px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box; /* Makes width including padding and border */
 }
 
 .modal-content button {
   margin-top: 20px;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
 }
 
 @media (max-width: 768px) {
   .modal-content {
     width: 80%;
   }
 }

 .week-container {
   padding: 10px;
  
 }
 
 
 
